.main-logo {
  display: block;
  width: 109px;
  height: 30px;

  &::after {
    @include pseudo-ie11-fix();
  }

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {

  }

  @media (min-width: breakpoint(desktop)) {

  }
}

