.social-list {
  @include clear-list();
  display: flex;
  align-items: center;
  justify-content: center;
  width: 172px;
}

.social-list__item {
  margin-right: 32px;
  margin-bottom: 6px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

